<!-- SWAP & FREE Decentralized Exchange -->
<section id="swap" class="features-section-8 relative">
  <div class="container">
    <div class="row section-separator">
      <div class="project-item col-xs-12">
        <div class="each-project row">
          <div class="each-project-inner">
            <div class="vertical-middle col-lg-8 col-md-7 col-md-push-5 col-sm-push-5 col-xs-12">
              <div style="background-image: url(assets/img/cloud/mac_dash.png);"
                   class="project-image cover"></div>
            </div>
            <div class="vertical-middle col-lg-pull-8 col-md-5 col-md-pull-7 col-sm-pull-8 col-xs-12 padding">
              <div class="p-l-50"><h2 class="section-heading"><span class="corporate main-title">SWAP any Currency</span>
              </h2>
                <div class="detail">
                  <!--<p>Our blockchain integrate with the TOP Currencies to provide a decentralized & FREE exchange to you & to increase EtherScale adoption.</p>-->
                  <p>
                    EtherSWAP is an EtherScale SmartContract that allows YOU to trade ANY currency FREE of fees! Don't waste YOUR COINs on useless, expensive & insecure exchanges! Buy YOUR cryptos even using your credit card!
                    <!--<br>Use EtherDolar (1ED = 1USD) as pair to keep you capital stable.-->
                  </p>
                  <!-- h6.title The panel consists of:-->
                  <div class="row">
                    <div class="each-features text-center col-md-3 col-sm-6 col-xs-6 wow flipInY">
                      <div class="card-style background-white"><img src="assets/img/icons/balance.png"
                                                                    class="icon">
                        <p class="title">Token balance</p></div>
                    </div>
                    <div data-wow-delay=".1s"
                         class="each-features text-center col-md-3 col-sm-6 col-xs-6 wow flipInY">
                      <div class="card-style background-white"><img
                      src="assets/img/icons/calc.png" class="icon">
                        <p class="title">Exchange calculator</p></div>
                    </div>
                    <div data-wow-delay=".2s"
                         class="each-features text-center col-md-3 col-sm-6 col-xs-6 wow flipInY">
                      <div class="card-style background-white"><img
                      src="assets/img/icons/progress.png" class="icon">
                        <p class="title">Stops & Margins</p></div>
                    </div>
                    <div data-wow-delay=".3s"
                         class="each-features text-center col-md-3 col-sm-6 col-xs-6 wow flipInY">
                      <div class="card-style background-white"><img
                      src="assets/img/icons/history.png" class="icon">
                        <p class="title">Transaction history</p></div>
                    </div>
                  </div>
                  <a href="http://etherscale.co/#subscribe"
                     class="btn btn-fill right-icon wow pulse full-sm">Scale my Trade profit
                  </a>
                </div>
              </div>
            </div>
            <div class="hidden-block vertical-middle col-md-6 col-sm-6 col-xs-12">
              <div class="inner p-l-50"><h2 class="section-heading"><span class="corporate">Describe your startup and schedule an ICO campaign</span>
              </h2>
                <div class="detail"><p>Provide an infromation about your campaign in a structured way.
                  There are such sections as: About, Team, Press links, Social media, Videos and FAQ.
                  These sections help visitors to better understand and trust your startup.</p>
                  <p><a target="_blank" href="http://etherscale.co/panel/##campaigns"
                        class="btn btn-fill btn-page right-icon">Try demo</a></p></div>
              </div>
            </div>
            <div class="hidden-block vertical-middle col-md-6 col-sm-6 col-xs-12">
              <div style="background-image: url(assets/img/cloud/boards.png);background-size: contain;"
                   class="project-image cover"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Facebook Comments -->
      <!--<div id="fb-comments" tabindex="-1" role="dialog" aria-labelledby="fb-commentsTitle" aria-hidden="true"-->
      <!--class="modal fade">-->
      <!--<div role="document" class="modal-dialog">-->
      <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
      <!--<h5 id="fb-commentsTitle" class="modal-title">Do you have any questions? Let's talk-->
      <!--<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span-->
      <!--aria-hidden="true" class="fa fa-close"></span></button>-->
      <!--</h5>-->
      <!--</div>-->
      <!--<div class="modal-body">-->
      <!--<div data-href="http://etherscale.co/social" data-numposts="5" data-width="100%"-->
      <!--data-order-by="reverse_time"-->
      <!--class="fb-comments fb_iframe_widget_loader fb_iframe_widget fb_iframe_widget_fluid"-->
      <!--fb-xfbml-state="parsed"><span style="height: 100px;"><iframe id="fc9423e96b937c"-->
      <!--name="fda6f80b41b1bc"-->
      <!--scrolling="no"-->
      <!--title="Facebook Social Plugin"-->
      <!--class="fb_ltr"-->
      <!--src="pages/comments/comments.html"-->
      <!--style="border: none; overflow: hidden; height: 100px; width: 100%;"></iframe></span>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
    </div>
  </div>
</section>
