/ Navbar section
=render 'home/partial/nav'

/ Banner section
=render 'home/partial/banner'

/ How does it work & working examples
=render 'home/partial/how_works'

/ Guest post section
=render 'home/partial/guest_post'

/ Customer & Previous Jobs
=render 'home/partial/customers'

/ Marcas Parceiras
=render 'home/partial/partners'

/ Footer (info)
=render 'home/partial/footers'