.float-right {
  float: right;
}

.float-left {
  float: left;
}

nav.navbar {
  .collapse.navbar-collapse.flags {
    margin-top: 15px;
  }
}

.input-group-addon {
  background-color: #6393df1c;
  border: 1px solid #E3E3E3;
  border-radius: 4px;
}

.header .btn {
  float: right;
  box-shadow: 0 3px 19px #fff, 1px 3px 10px #23CCEF;
}

ul.nav {
  ul.nav {
    i {
      font-size: 15px;
    }
  }
}